<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>xcschememanagement.plist</key>
		<dict>
			<key>AutoCreateSchemes</key>
			<false/>
			<key>SchemeAutoCreationSetting</key>
			<string>0</string>
		</dict>
	</dict>
	<key>SchemeUserState.schemes</key>
	<array>
		<dict>
			<key>schemeName</key>
			<string>ChallengeSwift</string>
			<key>schemeState</key>
			<string>0</string>
		</dict>
	</array>
</dict>
</plist>
